nav{
    display:flex;
    padding-left: 310px;
    padding-right: 310px;
    background-color: black;
    color:var(--white);
}
.navbar-menu-items ul{
    display: flex;
}
.navbar-menu-items ul li{
    margin-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-menu-social-media ul{
    display: flex;
}
.burger{
    border: 1px solid var(--orange);
    border-radius: 5px;
    width:200px;
    height:48px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.burger img{
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 17px;
}
.burger-img-txt{
    margin:14px 16px 14px 15px;
}
.navbar-menu-social-media{
    margin-left: 51px;
}
.navbar-menu-social-media ul{
    display: flex;
}
.navbar-menu-social-media ul li{
    margin-left: 12px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.search-button{
    display: flex;
    background: var(--white);
    color:#8A8A8A;
    width:310px;
    height: 52px;
    border-radius: 5px;
    margin-left: 66.5px;
    margin-bottom: 18px;
    margin-top: 18px;
}
.search-button-img{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 21px;
}
.search-button-txt {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 12px;
}